:focus {
   outline: none;
   border-color: #000000;
   opacity: 1;
}

input:hover {
   opacity: 1;
}

article {
   background-color: rgba(255, 255, 255, 0.3);
}

.password-container {
   position: relative;
   display: flex;
   align-items: center;
}

.password-input {
   width: 100%;
   padding-right: 40px; 
}

.eye-icon {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
}